body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}
.container {
  min-width: 768px;
  max-width: 1200px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 #34495e;
}
.main-header {
  position: relative;
  padding: 0 6%;
  background-color: #ffffff;
  color: #000000;
}
.main-header::after {
  content: "";
  display: table;
  clear: both;
}
.main-header .logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
}
.main-navigation {
  margin-left: 0;
  margin-right: 0;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.main-navigation li {
  float: left;
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}
.main-navigation li:nth-child(n+3) {
  float: right;
  text-align: right;
}
.main-navigation li:nth-child(2) {
  padding-left: 2.7%;
}
.main-navigation li:last-child {
  padding-right: 2.7%;
}
.main-navigation a {
  color: #000000;
  text-decoration: none;
  text-align: left;
}
.main-navigation a:hover {
  color: #81b3d2;
}
.main-navigation a:active {
  color: #b2b2b2;
}
.main-navigation .active span {
  color: #766357;
  text-decoration: none;
  text-align: left;
}
.main-navigation .active span:hover {
  color: #604e43;
}
.main-navigation .active span:active {
  color: #d6d0cc;
}
.main-photo-city {
  position: relative;
  width: 100%;
  height: 433px;
  padding-top: 75px;
  margin-bottom: 60px;
  background-color: #497ea8;
  background-image: url("../img/panoram.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 28%;
  background-size: 100% auto;
  text-align: center;
}
.pruning {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 58px;
  background-image: url("../img/pruning.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}
.promo-phrase {
  text-align: center;
  margin-bottom: 51px;
}
.promo-phrase b {
  display: block;
  margin-bottom: 27px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.promo-phrase p {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #7d7d7d;
}
ul.content {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
  vertical-align: top;
}
.content li {
  display: inline-block;
  box-sizing: border-box;
  width: 33.33%;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  vertical-align: top;
}
.content .content-box {
  padding: 30px 5%;
  min-height: 256px;
  color: 656565;
}
.content .content-box h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}
.content .content-bluebox h2 {
  margin-top: 6%;
}
.content p {
  margin-top: 23px;
}
.content .content-bluebox {
  padding-top: 37px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 16px;
  color: #ffffff;
  background-color: #81b3d2;
}
.content .content-whitebox {
  padding-bottom: 23px;
  background-color: #eeeeee;
}
.content .content-image {
  width: 66.66%;
  height: 256px;
}
.content .image1 {
  background: #7d7d7d url("../img/content_image1.jpg") no-repeat center;
  background-size: 100% auto;
}
.content .image2 {
  background: #7d7d7d url("../img/content_image2.jpg") no-repeat center;
  background-size: 100% auto;
}
.content .content-service {
  position: relative;
  min-height: 330px;
  padding-top: 144px;
  padding-left: 6%;
  padding-right: 6%;
}
.content .content-service::before {
  content: "";
  position: absolute;
  top: 132px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  background-image: url("../img/sprite_service.png");
  background-repeat: no-repeat;
}
.content .house::before {
  width: 75px;
  height: 72px;
  background-position: -5px -85px;
}
.content .food::before {
  width: 74px;
  height: 70px;
  background-position: -5px -5px;
}
.content .present::before {
  width: 64px;
  height: 76px;
  background-position: -5px -167px;
}
.container-form-search {
  position: relative;
  margin-top: 50px;
  text-align: center;
  background-color: #ffffff;
  z-index: 20;
}
.container-form-search b {
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
}
.container-form-search p {
  margin-top: 21px;
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}
.content-form-search {
  position: relative;
  width: 568px;
  margin: 0 auto;
}
.form-header {
  position: relative;
  z-index: 50;
}
.form-header a {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  background-color: #766357;
}
.wrapper-form {
  position: absolute;
  overflow: hidden;
  top: 0;
  height: 480px;
  width: 100%;
  z-index: 20;
  background-color: transparent;
}
.form-search {
  position: absolute;
  top: -394px;
  width: 458px;
  padding: 55px 55px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  z-index: 10;
}
.form-search-show {
  -webkit-animation-name: form;
  animation-name: form;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.form-search .arrival-date, .form-search .departure-date {
  position: relative;
  margin-bottom: 32px;
  line-height: 36px;
}
.form-search input {
  position: absolute;
  right: 0;
  width: 292px;
  height: 38px;
  padding-left: 15px;
  padding-right: 38px;
  border: none;
  background-color: #f2f2f2;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  z-index: 10;
}
.form-search input:hover {
  background-color: #ebebeb;
}
.form-search input:focus {
  background-color: #ffffff;
  outline-color: #e5e5e5;
}
.form-search .calendar {
  position: absolute;
  width: 21px;
  height: 22px;
  right: 9px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 20;
  background-image: url("../img/sprite_calendar.png");
  background-repeat: no-repeat;
  background-position: -10px -94px;
}
.form-search .calendar:hover {
  background-position: -10px -10px;
}
.form-search .calendar:active {
  background-position: -10px -52px;
}
.form-search .number-people {
  margin-bottom: 55px;
  font-size: 0;
}
.form-search .number-people .adults, .form-search .number-people .children {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
  line-height: 36px;
}
.form-search .number-people .adults {
  width: 226px;
  margin-right: 52px;
}
.form-search .number-people .children {
  width: 180px;
}
.form-search .number-people input {
  width: 38px;
  padding-left: 38px;
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.form-search .number-people .minus, .form-search .number-people .plus {
  position: absolute;
  background-image: url("../img/sprite_plus_minus.png");
  background-repeat: no-repeat;
  z-index: 20;
}
.number-people .minus {
  width: 12px;
  height: 11px;
  right: 89px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-position: -10px -52px;
}
.number-people .minus:hover {
  background-position: -10px -6px;
}
.number-people .minus:active {
  background-position: -10px -29px;
}
.number-people .plus {
  width: 11px;
  height: 11px;
  right: 13px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-position: -10px -141px;
}
.number-people .plus:hover {
  background-position: -10px -79px;
}
.number-people .plus:active {
  background-position: -10px -110px;
}
.form-search .btn {
  display: block;
  width: 100%;
  font-size: 21px;
  line-height: 55px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.form-search .btn:hover {
  background-color: #669ec0;
}
.form-search .btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.map {
  width: 100%;
  height: 475px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.main-footer {
  min-height: 60px;
  margin-top: 0;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 0;
  text-align: center;
  vertical-align: top;
}
.main-footer .footer-link {
  display: inline-block;
  width: 33.33%;
  padding-top: 44px;
  padding-bottom: 47px;
  vertical-align: bottom;
}
.main-footer .footer-link a {
  margin-left: -10px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  vertical-align: middle;
  color: #000000;
  text-decoration: none;
}
.main-footer .footer-social {
  display: inline-block;
  width: 33.33%;
  padding-top: 34px;
  padding-bottom: 36px;
  vertical-align: top;
}
.social-btn {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 48px;
  margin: 0 3px;
  vertical-align: top;
  text-decoration: none;
  background: #81b3d2;
}
.social-btn:hover {
  background: #669ec0;
}
.social-btn:active::before {
  opacity: 0.3;
}
.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite_social_icon.png");
}
.social-btn-tw::before {
  width: 17px;
  height: 15px;
  background-position: -5px -34px;
}
.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -5px -5px;
}
.social-btn-youtube::before {
  width: 20px;
  height: 16px;
  background-position: -5px -59px;
}
.main-footer .footer-copyright {
  display: inline-block;
  width: 33.33%;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  vertical-align: middle;
}
.main-footer .footer-copyright {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-footer .footer-copyright a {
  margin-left: 14px;
  color: #000000;
  text-decoration: none;
}
.main-footer .footer-copyright-logo {
  display: inline-block;
  width: 113px;
  height: 39px;
  margin-left: 7px;
  vertical-align: middle;
  background-image: url("../img/sprite_html_academy.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
}
.footer-copyright a:hover .footer-copyright-logo {
  background-position: -10px -69px;
}
.footer-copyright a:active .footer-copyright-logo {
  background-position: -10px -128px;
}
.search-filters {
  min-height: 183px;
  padding: 28px 6%;
  padding-bottom: 5px;
  margin-bottom: 28px;
  background-color: #4f7ea8;
  background-image: url("../img/panoram2.jpg");
  background-position: center 32%;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
}
.search-filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.search-filters legend {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
}
.search-filters .infrastructure {
  float: left;
  width: 210px;
}
.search-filters .property-type {
  float: left;
  width: 20%;
  margin-left: 4.2%;
}
.search-filters .price {
  float: right;
  width: 30%;
  min-width: 224px;
}
.search-filters::after {
  content: "";
  display: table;
  clear: both;
}
.search-filters input[type="checkbox"] {
  display: none;
}
.infrastructure label, .property-type label {
  display: block;
  position: relative;
  margin-bottom: 25px;
  padding-left: 40px;
}
.property-type label {
  padding-left: 41px;
}
.infrastructure label:hover, .property-type label:hover {
  opacity: 0.9;
}
.infrastructure input[type="checkbox"]:disabled + label::after, .property-type input[type="checkbox"]:disabled + label::after {
  opacity: 0.5;
}
.infrastructure label::after, .property-type label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  background-image: url("../img/sprite_check_mark.png");
  background-repeat: no-repeat;
  background-position: -10px -52px;
}
.infrastructure input[type="checkbox"]:checked + label::after, .property-type input[type="checkbox"]:checked + label::after {
  width: 26px;
  height: 22px;
  background-position: -10px -10px;
}
.price legend {
  margin-bottom: 10px;
  padding-left: 3px;
}
.install-price {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}
.install-price::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  width: 2px;
  height: 22px;
  background-color: #ffffff;
}
.install-price label {
  display: inline-block;
  width: 40%;
  padding-left: 5%;
  vertical-align: top;
  font-size: 14px;
  line-height: 28px;
  text-align: right;
  cursor: pointer;
}
.install-price label:last-child {
  margin-left: 2.5%;
}
.install-price label:last-child input {
  min-width: 42px;
}
.install-price input {
  width: 44.5%;
  height: 30px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
.price .range {
  position: relative;
  margin-bottom: 32px;
}
.range .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.range .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background-color: #1c4f80;
}
.range-toggle-from {
  left: 0;
}
.range-toggle-to {
  left: 80%;
}
.btn-form {
  display: block;
  margin: 0 auto;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.btn-form:hover {
  color: #000000;
  background-color: #ffffff;
}
.settings {
  position: relative;
  padding: 10px 6%;
  margin-bottom: 15px;
}
.settings b {
  position: absolute;
  width: 150px;
  top: 3px;
  left: 6%;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.settings-fields {
  margin-left: 165px;
  margin-right: 40px;
}
.settings-fields-header {
  display: inline-block;
  margin-right: 34px;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  vertical-align: top;
}
.settings ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
  vertical-align: top;
}
.settings li {
  display: inline-block;
  margin-right: 33px;
  vertical-align: top;
}
.settings li a {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}
.settings li a:hover {
  color: #81b3d2;
}
.settings li a:active {
  color: #000000;
  border: none;
}
.settings .active a {
  color: #81b3d2;
  border: none;
}
.sorting {
  position: absolute;
  width: 36px;
  top: 6px;
  right: 6%;
}
.sorting-order {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  background-image: url("../img/sprite_sort_elem.png");
  background-repeat: no-repeat;
  font-size: 0;
}
.sorting .increase {
  background-position: -10px -160px;
}
.sorting .increase:hover {
  background-position: -10px -100px;
}
.sorting .increase:active, .sorting .increase-selected {
  background-position: -10px -130px;
}
.sorting .decrease {
  margin-left: 10px;
  background-position: -10px -70px;
}
.sorting .decrease:hover {
  background-position: -10px -10px;
}
.sorting .decrease:active, .sorting .decrease-selected {
  background-position: -10px -40px;
}
.search-result {
  position: relative;
  padding: 15px 6%;
  padding-bottom: 28px;
  border-top: 2px solid #e5e5e5;
}
.search-result:last-child {
  border-bottom: 2px solid #e5e5e5;
}
.search-result .photo {
  position: absolute;
  top: 29px;
}
.search-result .content-field {
  margin-left: 165px;
  margin-right: 120px;
  font-size: 0;
}
.content-field h2 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.content-field h2:hover {
  color: #81b3d2;
}
.content-field h2:active {
  color: #b2b2b2;
}
.content-field-column1, .content-field-column2 {
  display: inline-block;
  width: 110px;
  vertical-align: top;
}
.content-field-column1 {
  margin-right: 6px;
}
.content-field-column1 span, .content-field-column2 span {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #333333;
  text-align: left;
}
.content-field-column1 a, .content-field-column2 a {
  display: inline-block;
  padding: 3px 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.content-field-column1 a {
  background-color: #81b3d2;
}
.content-field-column1 a:hover {
  background-color: #669ec0;
}
.content-field-column1 a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.content-field-column2 a {
  background-color: #766357;
}
.content-field-column2 a:hover {
  background-color: #604e43;
}
.content-field-column2 a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.search-result .stars {
  position: absolute;
  width: 89px;
  height: 17px;
  top: 28px;
  right: 6%;
  background-image: url("../img/sprite_stars.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.search-result:first-child .stars {
  width: 89px;
  height: 17px;
  background-position: -10px -10px;
}
.search-result:nth-child(2) .stars {
  width: 42px;
  height: 17px;
  background-position: -10px -84px;
}
.search-result:last-child .stars {
  width: 65px;
  height: 17px;
  background-position: -10px -47px;
}
.search-result .rating {
  position: absolute;
  bottom: 30px;
  right: 6%;
  padding: 3px 13px;
  color: #666666;
  background-color: #f2f2f2;
}
@-webkit-keyframes form {
  from {
    bottom: 1000px;
  }
  to {
    bottom: -394px;
  }
}
@keyframes form {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(480px);
  }
}
