body {
    font-family: "PTSans", "Arial", serif;
    font-size: 14px;
    line-height: 21px;
}

h2 {
    font-family: "PTSans", "Arial", serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
}

.promo-phrase b {
    font-family: "PTSans", "Arial", serif;
    font-size: 21px;
    font-weight: bold;;
    line-height: 26px;
}
